#cincome {
  transform: scale(.92) translateY(-1px);
}
#creward {
  transform: scale(1.1);
}
#csideline {
  transform: scale(1.08);
}
#cinvestment {
  transform: scale(.85);
}
#cmedicals {
  transform: scale(.95);
}
#ctraffic {
  transform: scale(1.1) translateX(.5px);
}
#caccount {
  transform: scale(1.08);
}
#cbooks {
  transform: scale(1.12);
}
#cclothes {
  transform: scale(1.08);
}
#cgame {
  transform: scale(1.1);
}
#cpets {
  transform: scale(1.12) translateY(.5px);
}
#cbeauty {
  transform: scale(1.1);
}
#cliving {
  transform: scale(1.1) translateY(1px);
}
#csocial {
  transform: scale(.9) translateY(1px);
}
#csport {
  transform: scale(1.05);
}
#ctoys {
  transform: scale(.85) translateY(1.5px);
}
#ctransport {
  transform: translateY(1px);
}
#csnacks {
  transform: scale(1.1);
}
#cmedicals {
  transform: scale(.95);
}
#ctraffic {
  transform: scale(1.1) translateX(.5px);
}
#cincome {
  transform: scale(.92) translateY(-1px);
}
#creward {
  transform: scale(1.1);
}
#csideline {
  transform: scale(1.08);
}
#cinvestment {
  transform: scale(.85);
}
#caccount {
  transform: scale(1.08);
}
#cbooks {
  transform: scale(1.12);
}
#cclothes {
  transform: scale(1.08);
}
#cgame {
  transform: scale(1.1);
}
#cpets {
  transform: scale(1.12) translateY(.5px);
}
#cbeauty {
  transform: scale(1.1);
}
#cliving {
  transform: scale(1.1) translateY(1px);
}
#csocial {
  transform: scale(.9) translateY(1px);
}
#csport {
  transform: scale(1.05);
}
#ctoys {
  transform: scale(.85) translateY(1.5px);
}
#ctransport {
  transform: scale(.98) translateY(1px);
}