#crubbish {
  transform: scale(.8, .86);
}
#cadd {
  transform: scale(.98);
}
#ceat {
  transform: scale(1.15);
}
#clive {
  transform: scale(1.12);
}
#cwater {
  transform: scale(1.14);
}
#cplay {
  transform: scale(1.14);
}
#cmedicals {
  transform: scale(1.02);
}
#ctraffic {
  transform: scale(1.2)
}
#cincome {
  transform: scale(.95)
}
#creward {
  transform: scale(1.1)
}
#csideline {
  transform: scale(1.1)
}
#cinvestment {
  transform: scale(.85)
}
#cadd {
  transform: scale(.98);
}
#caccount {
  transform: scale(1.06);
}
#cdigital {
  transform: scale(1.02);
}
#cequipment {
  transform: scale(1.12);
}
#cbooks {
  transform: scale(1.14);
}
#cclothes {
  transform: scale(1.1);
}
#cbeauty {
  transform: scale(1.2);
}
#cpets {
  transform: scale(1.18);
}
#cliving {
  transform: scale(1.08);
}
#cshopping {
  transform: scale(1.08);
}
#cgame {
  transform: scale(1.12);
}
#ctoys {
  transform: scale(.87);
}
#csport {
  transform: scale(1.1);
}
#csnacks {
  transform: scale(1.12);
}
#ceat {
  transform: scale(1.15);
}
#clive {
  transform: scale(1.12);
}
#cwater {
  transform: scale(1.14);
}
#cplay {
  transform: scale(1.14);
}
#cmedicals {
  transform: scale(1.02);
}
#ctraffic {
  transform: scale(1.2)
}
#cincome {
  transform: scale(.95)
}
#creward {
  transform: scale(1.1)
}
#csideline {
  transform: scale(1.1)
}
#cinvestment {
  transform: scale(.85)
}
#crubbish {
  transform: scale(.8, .86);
}
#caccount {
  transform: scale(1.06);
}
#cdigital {
  transform: scale(1.02);
}
#cequipment {
  transform: scale(1.12);
}
#cbooks {
  transform: scale(1.14);
}
#cclothes {
  transform: scale(1.1);
}
#cbeauty {
  transform: scale(1.2);
}
#cpets {
  transform: scale(1.18);
}
#cliving {
  transform: scale(1.08);
}
#cshopping {
  transform: scale(1.08);
}
#cgame {
  transform: scale(1.12);
}
#ctoys {
  transform: scale(.87);
}
#csport {
  transform: scale(1.1);
}
#csnacks {
  transform: scale(1.12);
}